.card-profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     border-radius: 16px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            max-width: 800px;
            
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            
}

.back-color-white{
    background-color: white;
}

.div-flex-jestify-between{
    display: flex;
    justify-content: space-between;
}